#contato-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contato-bg {
  background: var(--cor-1);
}

.botao-batsinal {
  padding: 12px 24px;
  font-family: "Orbitron", sans-serif;
  background-color: var(--cor-4);
  border: 3px solid var(--cor-black);
  border-radius: 8px;
  cursor: pointer;
  margin-top: 40px;
  transition: 0.5s ease;
}

.botao-batsinal:hover {
  background-color: #208ceb;
  scale: 1.02;
}

#batsinal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, #000000 60%, #1a1a1a 100%);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  animation: flickerBg 0.15s infinite;
}

#batsinal-content {
  background: radial-gradient(circle at center, #d4d4d4 20%, #8b8b3c 60%, transparent 80%);
  width: 750px;
  height: 750px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 60px 20px #fff00088;
  animation: zoomFade 7s ease-out forwards;
  border: 40px solid var(--cor-black);
  position: relative;
}

#batsinal-content img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0 20px #ffff99);
}

/* Animações */
@keyframes zoomFade {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes flickerBg {
  0%,
  100% {
    background-color: #000000;
  }
  50% {
    background-color: #0a0a0a;
  }
}

@media (max-width: 768px) {
  #contato-section {
    height: 50vh;
  }

  #batsinal-content {
    width: 300px;
    height: 300px;
  }

  .botao-batsinal {
    font-size: 14px;
    padding: 10px 16px;
  }
}
