#habilidades-bg {
  background: var(--cor-1);
  padding: 100px 0 120px 0;
}

#habilidades-section h2 {
  margin-bottom: 100px;
  color: var(--cor-4);
  text-align: center;
}

.habilidades-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.habilidades {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.add-icone {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.galeria-img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 140px;
  width: 100%;
  height: 300px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 12px;
  scroll-snap-type: x mandatory;
}

.galeria-img img {
  width: 482px;
  height: 100%;
  scroll-snap-align: center;
}

.icone-habilidade {
  width: 32px;
  height: 32px;
}

#combate-icone {
  background-image: url("../assets/habilidades-img/icone-soco.svg");
}

#investigacao-icone {
  background-image: url("../assets/habilidades-img/icone-investigacao.svg");
}

#estrategia-icone {
  background-image: url("../assets/habilidades-img/icone-estrategia.svg");
}

.typing-effect {
  opacity: 0;
}

.typing-effect.animate-typing {
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--cor-4);
  width: 0;
  animation: typing 2.4s steps(30, end) forwards, blink 0.6s infinite;
}

@media (max-width: 999px) {
  .font-4-r {
    font-size: 16px;
  }

  #habilidades-bg {
    padding: 60px 0;
  }

  #habilidades-section h2 {
    margin-bottom: 40px;
  }

  .habilidades {
    gap: 12px;
  }

  .habilidades-container {
    gap: 60px;
  }

  .galeria-img {
    gap: 40px;
    width: 100%;
    height: 250px;
  }

  .galeria-img img {
    width: 100%;
    height: 100%;
  }

  #combate-icone,
  #investigacao-icone,
  #estrategia-icone {
    display: none;
  }

  .typing-effect.animate-typing {
    opacity: 1;
    white-space: normal;
    overflow: auto;
    border-right: none;
    width: 100%;
    animation: none;
  }
}
