@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-top {
  animation: fadeTop 1.2s ease-out forwards;
  opacity: 0;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}

.fade-left {
  opacity: 0;
  animation: fadeLeft 1.8s ease-out forwards;
}

@keyframes glitch {
  0% {
    background: #00ffcc;
    transform: translateX(1px);
  }
  25% {
    background: -#ff0000;
    transform: translateX(-1px);
  }
  50% {
    background: #00ffcc;
    transform: translateY(1px);
  }
  75% {
    background: #ff00ff;
    transform: translateY(-1px);
  }
  100% {
    background: #ffdd00;
    transform: translateX(1px);
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 999px) {
  .fade-left {
    animation: fadeLeft 0s ease-out forwards;
    opacity: 0;
  }
}
